.is-style-mytheme123-group {
  position: relative;
}

.is-style-mytheme123-group::before {
  content: "";
  position: absolute;
  background-image: url(../../../dist/assets/images/border.png);
  width: 100%;
  height: 15px;
  top: 0px;
  margin-top: -8px;
  left: 0px;
}

.is-style-mytheme123-group::after {
  content: "";
  position: absolute;
  background-image: url(../../../dist/assets/images/border.png);
  width: 100%;
  height: 15px;
  bottom: -7px;
  left: 0px;
  top: auto;
}
